body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
table td {
  align-content: center;
}
.btn-icon {
  padding: 5px;
  margin: 0 4px;
  line-height: normal;
  height: 33px;
}
.btn-icon .material-icons-outlined {
  font-size: 20px;
}